@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

body{
    background-color: #E8E8E8;
    font-family: 'Space Mono', monospace;
}

.back-button{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 57px;
    top: 40px;
    background: #302F31;
    border-radius: 15px;
    color: white;
    font-family: 'Space Mono', monospace;
}

.back-button:hover{
    background-color: rgb(101, 101, 101);
    cursor: pointer;
}


a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

.navigation{
    display: flex;
    position: fixed;
    left: calc(50% - 307.5px);
    top: 30px;
    /* background-color: red; */
    width: 615px;
}

.contents{
    width: calc(30px / 1.5);
    flex:wrap;
    margin: 15px;
}

.button{
    width: calc(30px / 1.5);
    height: auto;
    fill: #302F31;
}


.down-arrow{
    height: calc(30px / 1.5);
    width: auto;
}


.up-arrow{
    height: calc(30px / 1.5);
    width: auto;
}


.joystick{
width: calc(45px / 1.5);
height: calc(45px / 1.5);
border-radius: 50%;
margin: 10px;
background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.joystick-shadow{
width: calc(45px / 1.5);
height: calc(45px / 1.5);
border-radius: 50%;
margin: 0px;
background: #D9D9D9;
box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.2);
}

.joystick-middle{
box-sizing: border-box;
width: calc(30px / 1.5);
height: calc(30px / 1.5);
border-radius: 50%;
background: #171717;
border: 3px solid #000000;
margin: auto;
margin-top: -25px;
box-shadow: 9px 12px 10px -10px rgba(0, 0, 0, 0.79);
}

.small-rectangle-button{
    height: calc(40px / 1.5);
    width: auto;
    margin-top: -5px;
}

.small-triangle-button{
    height: calc(40px / 1.5);
    width: auto;
    margin-top: -5px;
}

.triangle-button{
    height: calc(35px / 1.5);
    width: auto;
    margin-top: -5px;
}

.square-button{
    height: calc(35px / 1.5);
    width: auto;
    margin-top: -5px;
}

.circle-button{
    height: calc(35px / 1.5);
    width: auto;
    margin-top: -5px;
}

.ex-button{
    height: calc(35px / 1.5);
    width: auto;
    margin-top: -5px;
}


.joystick-middle:hover{
    transform: translate(-5px);
}

.joystick-right:hover{
    transform: translate(5px);
}

.jostick-margin{
    margin-left: 20px;
}


.right-arrow:hover{
    fill: rgb(101, 101, 101);   
}


.left-arrow:hover{
    fill: rgb(101, 101, 101);
}

.down-arrow:hover{
    fill: rgb(101, 101, 101);
}

.up-arrow:hover{
    fill: rgb(101, 101, 101);
}


.square-button:hover{
    fill: rgb(101, 101, 101);
}

.circle-button:hover{
    fill: rgb(101, 101, 101);
}

.ex-button:hover{
    fill: rgb(101, 101, 101);
}

.triangle-button:hover{
    fill: rgb(101, 101, 101);
}

.small-rectangle-button:hover{
    fill: rgb(101, 101, 101);
}

.small-triangle-button:hover{
    fill: rgb(101, 101, 101);
}

.question-container{
    position: absolute;
    width: 1000px;
    height: 400px;
    left: calc(50% - 500px);
    top: 200px;
    background: #302F31;
    border-radius: 65px;
    overflow: auto;
}

h2{
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    font-weight: normal;
    font-size: 25px;
    /* max-width: 60ch; */
    /* margin-left: auto;
    margin-right: auto; */
}

p{
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    /* max-width: 80ch;
    margin-left: auto;
    margin-right: auto; */
}

.back-type{
    position: fixed;
    margin-left: 30px;
    top: 31px;
    padding:0px;
}